.list{
    color: #ffffff;
    width: 20rem ;
    background-color: #bf07ac;
    height: 3.5rem;
    margin: 1rem auto;
    border-radius: 1rem;
}

.list p{
    padding:1rem ;
    position: relative;    
}

.list p span{
    position: absolute;
    right: 10px;
}

.icons{
    margin: 0 5px;
    font-size: 1.5rem;
}

.list p input{
    background-color: transparent;
    border: 0;
    color:#ffffff;
    font-size: 1rem;
}

.list p input:focus{
    outline: none;
}